<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-7">
      <h1 class='form-title'> <i class="fas fa-dog"></i> SIGN UP</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), local: true)  do |f| %>
          <%= f.error_notification %>
            <%= f.input :name,
                          label: 'Full name',
                          error: 'Name is mandatory, please specify one',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name" }%>
            <%= f.input :age,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "age" }%>
            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "address" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :photo, as: :file %>

            <%= f.button :submit, "Sign up", class:'btn btn-green'  %>
            <%= link_to 'Back', root_path, class:'btn btn-orange'%>
        <% end %>
    </div>
    <div id="bg-image-cat" class="col-5"></div>
  </div>
</div>
