<div class="partner-container mt-5">
  <div class="row align-items-center">
    <div class="col bg-white mx-3">

      <h1><%= @partner.name %></h1>

      <h3 class="mb-3"><%= @partner.address %></h3>
      <h3 class="mb-3"><%= @partner.email %></h3>
      <h3 class="mb-3"><%= @partner.phone %></h3>

      <% if current_user.partner == @partner %>
        <%= link_to "Edit", edit_partner_path(@partner), class:'btn btn-green' %>
        <%= link_to "Back", partners_path, class:'btn btn-orange' %>
      <% else %>
        <%= link_to "Back", partners_path, class:'btn btn-orange' %>
      <% end %>

    </div>
    <div class="col">
      <div class="table-partners-container my-5">
        <div class="row">
          <div class="col-10 mx-5">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Size</th>
                  <% if @partner == current_user.partner %>
                    <th scope="col">Action</th>
                  <% end %>
                </tr>
              </thead>

              <% @partner_animals.each do |animal| %>
                <tbody>
                  <tr>
                    <td><%="#{animal.name}"%></td>
                    <td><%= animal.gender %></td>
                    <td><%= animal.size %></td>
                    <% if @partner == current_user.partner %>
                      <td><button><%= link_to 'View', animal_path(animal) %></button></td>
                    <% end %>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
