<div class="container bg-white my-5">
  <div class="row align-items-center">
    <div class="col mx-3">

      <h1>Best Buddies Partner</h1>

      <h2><%= @partner.name %></h2>
      <h4><%= @partner.address %></h4>
      <h4><%= @partner.email %></h4>
      <h4><%= @partner.phone %></h4>

      <% if current_user.partner == @partner %>
        <%= link_to "Edit", edit_partner_path(@partner), class:'btn btn-green' %>
        <%= link_to "Back", partners_path, class:'btn btn-orange' %>
      <% else %>
        <%= link_to "Back", partners_path, class:'btn btn-orange' %>
      <% end %>

    </div>
    <div class="col">
      <div class="container my-5">
  <div class="row">
    <div class="col-10 mx-5">

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Size</th>
          </tr>
        </thead>

        <% @partner_animals.each do |animal| %>
          <tbody>
            <tr>
              <td><%= link_to "#{animal.name}", animal_path(animal) %></td>
              <td><%= animal.gender %></td>
              <td><%= animal.size %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
