<div class="container-fluid padding-default">
  <div class="row align-items-center">
    <div class="col-5">
      <h1 class="section-title padding-default"><span><%= @partner.name[0] %></span><%= @partner.name[1..-1] %></h1>
      <br>
      <h3 class="mb-3 text-center"><%= @partner.address %></h3>
      <h3 class="mb-3 text-center"><%= @partner.email %></h3>
      <h3 class="mb-3 text-center"><%= @partner.phone %></h3>
      <% if @partner == current_user.partner %>
        <%= link_to "Edit", edit_partner_path(@partner), class:'btn btn-green' %>
        <%= link_to "Back", partners_path, class:'btn btn-orange' %>
      <% end %>


    </div>
    <div class="col-7">
      <%= render "shared/grids" %>
    </div>
  </div>
</div>
