  <section id="header">
    <div class="header">
      <div class="nav-bar">
        <div class="brand">
          <%= link_to root_path do %>
            <h1><span>B</span>est <span>B</span>uddies</h1>
          <% end %>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <% if user_signed_in? %>

            <% if current_user.partner.nil? %>
              <li class="nav-item">
                <%= link_to "Adopt a buddy", rescued_animals_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Help a homeless buddy", new_animal_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Rescue a buddy", animals_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Partner profile", partner_path(current_user.partner), class: "nav-link" %>
              </li>
            <% end %>

                <% if current_user.partner.nil? %>
                <li class="nav-item">
                  <%= link_to "My buddies", my_animals_path , class: "nav-link" %>
                </li>
                <% end %>
                <% if current_user.partner.nil? %>
                <li class="nav-item">
                  <%= link_to "My applications", adopted_pets_path , class: "nav-link" %>
                </li>
                <% end %>
                <li class="nav-item">
                <%= link_to "My profile", edit_user_registration_path , class: "nav-link" %>
                </li>
                <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
      <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
