<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><%= link_to 'about us' %></li>
          <li><%= link_to 'our services' %></li>
          <li><%= link_to 'privacy policy' %></li>
          <li><%= link_to 'become a partner' %></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get help</h4>
        <ul>
          <li><%= link_to '#' %></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow us</h4>
        <ul>
          <li><%= link_to '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
