<h1> EDIT FORM </h1>

<%= simple_form_for [ @animal ] do |f| %>
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :category, collection: [:CAT, :DOG] %>
    <%= f.input :size %>
    <%= f.input :gender %>
    <%= f.input :age, collection: ["Até seis meses", "Até 2 anos", "Até 5 anos", "Mais que 5 anos"]%>    
    <%= f.submit "Update", class: "btn btn-primary" %>


<% end %>
    <%= link_to "Apagar", animal_path(@animal), method: :delete,
        data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <%= link_to 'Voltar', animals_path, class:"btn btn-primary"%>
