<div class="container border rounded bg-white my-5">
  <div class="row">
    <div class="col">
      <h1> NEW FORM </h1>
      <%= simple_form_for (@animal) do |f| %>
          <%= f.input :name %>
          <%= f.input :breed %>
          <%= f.input :category, collection: [:Cat, :Dog] %>
          <%= f.input :size, collection: ['Small', 'Medium', 'Large'] %>
          <%= f.input :gender, collection: ['Male', 'Female'] %>
          <%= f.input :age, collection: ["Up to six months old", "Up to 2 years old", "Up to 5 years old", "More than 5 years old"]%>
          <%= f.input :description %>
          <%=  f.input :photos, as: :file, input_html: { multiple: true }%>
          <%= f.submit "Register", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
