<div class="container">
  <div class="box">
    <div class="box-img">
      <%= cl_image_tag (@animal.photos.first.key)%>
    </div>
    <div class="box-text">
      <h1 class="pb-20 mb-4"><%= @animal.name %>! </h1>
      <hr>
      <h3><strong>Facts about me</strong></h3>
      <p class="pb-20 my-3"><strong>Breed</strong> "<%= @animal.breed %>"</p>
      <p class="pb-20 my-3"><strong>Category</strong> "<%= @animal.category %>"</p>
      <p class="pb-20 my-3"><strong>Size</strong> "<%= @animal.size %>"</p>
      <p class="pb-20 my-3"><strong>Gender</strong> "<%= @animal.gender %>"</p>
      <p class="pb-20 my-3"><strong>Age</strong> "<%= @animal.age %>"</p>
      <p class="pb-20 my-3"><strong>Comments</strong> <em><%= @animal.description %></em></p>
      <div class="links">

        <% if current_user.partner.nil? %>
          <%= link_to 'My animals', my_animals_path(@animal), class:"btn btn-orange"%>
        <% else %>
          <%= link_to 'Back', root_path, class:"btn btn-orange"%>
        <% end %>

        <% if (@animal.user == current_user || @animal.partner == current_user.partner) %>
          <%= link_to 'Edit', edit_animal_path(@animal), class:"btn btn-green"%>
        <% end %>

        <% if !current_user.partner.nil? %>
          <%=  link_to "Rescue", rescue_path(@animal), method: :patch, class: "btn btn-blue" %>
        <% elsif @animal.user == current_user%>
        <% else %>
        <%= link_to "Adopt", animal_adoptions_path(@animal), method: :post, class: "btn btn-green"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
