<div class="container">
  <div class="row bg-white justify-content-around my-5 p-5">
    <div class="col">
      <%= cl_image_tag (@animal.photos.first.key), width: 400%>
    </div>
    <div class="col">

      <h1 class="mb-3"> My name is <%= @animal.name %>! </h1>
      <h3><strong>Facts about me</strong></h3>
      <h4 class="pb-20 my-3"><strong>Breed</strong> "<%= @animal.breed %>"</h4>
      <h4 class="pb-20 my-3"><strong>Category</strong> "<%= @animal.category %>"</h4>
      <h4 class="pb-20 my-3"><strong>Size</strong> "<%= @animal.size %>"</h4>
      <h4 class="pb-20 my-3"><strong>Gender</strong> "<%= @animal.gender %>"</h4>
      <h4 class="pb-20 my-3"><strong>Age</strong> "<%= @animal.age %>"</h4>
      <h4 class="pb-20 my-3"><strong>Comments</strong> <%= @animal.description %> </h4>
      <%= link_to 'Edit', edit_animal_path(@animal), class:"btn btn-flat"%>
      <%= link_to 'Back', my_animals_path(@animal), class:"btn btn-primary"%>


      <% if policy(@animal).rescue?
        <%= link_to "Rescue", rescue_path(@animal), method: :patch, class: "btn btn-primary" %>
      <% elsif  current_user == @animal.user%>
        <%= link_to "Adopt", animal_adoptions_path(@animal), method: :post, class: "btn btn-primary"%>
      <% else %>
        <%= link_to "My buddies", my_animals_path, method: :patch, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
